<h1><%=actor.name%></h1>
<p>Age: <%= actor.age %></p>
<p>Nationality: <%= actor.nationality %></p>
<img src="<%= actor.picture %>" alt="<%= actor.name %>" />
<h3>Movies:</h3>
<p>Not yet implemented</p>
<!--
<ul>
  <% // actor.movies.forEach(movie => { %>
  <li><%= // movie %></li>
  <% // }); %>
</ul>
</li>
-->
