<h1>List of Actors</h1>
<% if (actors.length) { %>
<ul>
  <% actors.forEach(actor => { %>
  <li>
    <h2><a href="<%=actor.url%>"><%= actor.name %></a></h2>
    <p>Nationality: <%= actor.nationality %></p>
    <img src="<%= actor.picture %>" alt="<%= actor.name %>" />
    <h3>Movies:</h3>
    <p>Not yet implemented</p>
  </li>
  <% }); %>
</ul>
<% } else { %>
<p>There are no actors registered</p>
<% } %>

<!--
TODO
STYLE EACH ACTOR
WRAP IN DIVS AS NEEDED, THIS IS CURRRENTLY JUST A SKELETON
<ul>
  <% // actor.movies.forEach(movie => { %>
    <li><%= // movie %></li>
    <% // }); %>
  </ul>
-->
