<h1><%=actor.name%></h1>
<% if (actor.age) { %>
<p>Age: <%= actor.age %></p>
<% } %> <% if (actor.nationality) { %>
<p>Nationality: <%= actor.nationality %></p>
<% } %>
<img src="<%= actor.picture %>" alt="<%= actor.name %>" />
<h3>Movies:</h3>
<% if (movies.length > 0) { %> <% movies.forEach(movie => { %>
<p><%= movie.title %></p>
<% }); %> <% } else { %>
<p>No movies to display</p>
<% } %>
