<div class="create-page">
  <h1><%= actor ? 'Edit Actor' : 'Create Actor' %></h1>
  <form id="createEditForm" method="post" onsubmit="handleFormSubmission(event, 'createEditForm')">
    <div>
      <label for="first_name">First Name:</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        required
        maxlength="100"
        value="<%= actor ? actor.first_name : '' %>"
      />
    </div>
    <div>
      <label for="family_name">Family Name:</label>
      <input
        type="text"
        id="family_name"
        name="family_name"
        maxlength="100"
        value="<%= actor ? actor.family_name : '' %>"
      />
    </div>
    <div>
      <label for="date_of_birth">Date of Birth:</label>
      <input
        type="date"
        id="date_of_birth"
        name="date_of_birth"
        value="<%= actor ?
      actor.date_of_birth : '' %>"
      />
    </div>
    <div>
      <label for="date_of_death">Date of Death:</label>
      <input
        type="date"
        id="date_of_death"
        name="date_of_death"
        value="<%= actor ?
      actor.date_of_death : '' %>"
      />
    </div>
    <div>
      <label for="nationality">Nationality:</label>
      <input
        type="text"
        id="nationality"
        name="nationality"
        value="<%= actor ? actor.nationality : '' %>"
      />
    </div>
    <div>
      <label for="picture">Picture URL:</label>
      <input
        type="url"
        id="picture"
        name="picture"
        value="<%= actor ? actor.picture : '' %>"
      />
    </div>
    <div>
      <label for="movies">Movies:</label>
      <select id="movies" name="movies" multiple>
        <% movies.forEach(function(movie) { %>
          <option value="<%= movie._id %>" <%= actor && actor.movies.includes(movie._id) ? 'selected' : '' %>><%= movie.title %></option>
        <% }); %>
      </select>
    </div>
    <div>
      <label for="password">Enter password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit"><%= actor ? 'Update' : 'Create' %></button>
    </div>
  </form>
</div>
