<div class="actor-card">
  <h1><%=actor.name%></h1>
  <% if (actor.age) { %>
  <p>Age: <%= actor.age %></p>
  <% } %> <% if (actor.nationality) { %>
  <p>Nationality: <%= actor.nationality %></p>
  <% } %> <% if (actor.picture) { %>
  <img
    src="<%= actor.picture %>"
    alt="<%= actor.name %>"
    class="resized-image"
  />
  <% } %>
  <h3>Movies:</h3>
  <% if (movies.length > 0) { %> <% movies.forEach(movie => { %>
  <p><a href="<%=movie.url%>"><%= movie.title %></a></p>
  <% }); %> <% } else { %>
  <p>No movies to display</p>
  <% } %>
  <div class="card-buttons">
    <a href="/actors/edit/<%= actor.id %>"><button>Edit</button></a>
    <form
      action="/actors/<%= actor.id %>?_method=DELETE"
      method="post"
      style="display: inline"
      onsubmit="return confirmDelete();"
    >
      <button type="submit">Delete</button>
    </form>
  </div>
</div>
