<div>
  <h1><%=movie.title%></h1>
  <% if (movie.summary) { %>
  <p>Summary: <%= movie.summary %></p>
  <% } %> <% if (movie.release_year) { %>
  <p>Release Year: <%= movie.release_year %></p>
  <% } %> <% if (movie.director) { %>
  <p>Director: <%= movie.director %></p>
  <% } %> <% if (movie.picture) { %>
  <img
    src="<%= movie.picture %>"
    alt="<%= movie.title %>"
    class="resized-image-detail"
  />
  <% } %>
  <h3>Cast:</h3>
  <% if (cast.length > 0) { %> <% cast.forEach(actor => { %>
  <p><a href="<%=actor.url%>"><%= actor.name %></a></p>
  <% }); %> <% } else { %>
  <p>No cast to display</p>
  <% } %>
  <div class="card-buttons">
    <a href="/movies/edit/<%= movie.id %>"><button>Edit</button></a>
    <form
      action="/movies/<%= movie.id %>?_method=DELETE"
      method="post"
      style="display: inline"
      onsubmit="return confirmDelete();"
    >
      <button type="submit">Delete</button>
    </form>
  </div>
</div>
