<div>
  <h1><%=movie.title%></h1>
  <% if (movie.summary) { %>
  <p>Summary: <%= movie.summary %></p>
  <% } %> <% if (movie.release_year) { %>
  <p>Release Year: <%= movie.release_year %></p>
  <% } %> <% if (movie.director) { %>
  <p>Director: <%= movie.director %></p>
  <% } %> <% if (genres.length) { %> <% genres.forEach(genre => { %>
  <a href="<%= genre.url %>">
    <p style="display: inline">- <%= genre.name %></p></a
  >
  <% }) %> <% } %> <% if (movie.picture) { %>
  <img
    src="<%= movie.picture %>"
    alt="<%= movie.title %>"
    class="resized-image-detail"
  />
  <% } %>
  <div class="cast-div">
    <h3>Cast:</h3>
    <% if (cast.length > 0) { %> <% cast.forEach(actor => { %>
    <p><a href="<%=actor.url%>"><%= actor.name %></a></p>
    <% }); %> <% } else { %>
    <p>No cast to display</p>
    <div class="add-cast">
      <label for="add-cast">Add cast members: </label>
      <select id="add-cast" name="add-cast" multiple>
        <% actors.forEach(function(actor) { %>
        <option value="<%= actor._id %>" %>><%= actor.name %></option>
        <% }); %>
      </select>
    </div>
    <% } %>
  </div>
  <div class="card-buttons">
    <a href="/movies/edit/<%= movie.id %>"><button>Edit</button></a>
    <button type="button" onclick="showPasswordField()">Delete</button>
    <form
      id="deleteForm"
      action="/movies/<%= movie.id %>?_method=DELETE"
      method="post"
      style="display: none; margin-top: 10px"
      onsubmit="handleDelete(event);"
    >
      <label for="password">Enter password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Confirm Delete</button>
    </form>
  </div>
</div>
