<div class="create-page">
  <h1><%= movie ? 'Edit Movie' : 'Create Movie'%></h1>
  <form
    id="createEditForm"
    method="post"
    onsubmit="handleFormSubmission(event, 'createEditForm')"
  >
    <div>
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        name="title"
        required
        maxlength="100"
        value="<%= movie ? movie.title : '' %>"
      />
    </div>
    <div>
      <label for="summary">Summary:</label>
      <input
        type="text"
        id="summary"
        name="summary"
        maxlength="250"
        value="<%= movie ? movie.summary : '' %>"
      />
    </div>
    <div>
      <label for="release_date">Release date:</label>
      <input
        type="date"
        id="release_date"
        name="release_date"
        value="<%= movie ? movie.release_date : '' %>"
      />
    </div>
    <div>
      <label for="picture">Poster URL:</label>
      <input
        type="url"
        id="picture"
        name="picture"
        value="<%= movie ? movie.picture : '' %>"
      />
    </div>
    <div>
      <label for="genres">Genres:</label>
      <div id="checkboxes">
        <% genres.forEach(function(genre) { %>
        <div>
          <input type="checkbox" id="genre-<%= genre._id %>" name="genres"
          value="<%= genre._id %>" <%= movie && movie.genre.includes(genre._id)
          ? 'checked' : '' %> />
          <label for="genre-<%= genre._id %>"><%= genre.name %></label>
        </div>
        <% }); %>
      </div>
    </div>
    <div>
      <label for="director">Director:</label>
      <div id="checkboxes">
        <% directors.forEach(function(director) { %>
        <div>
          <input type="checkbox" id="director-<%= director._id %>"
          name="director" value="<%= director._id %>" <%= movie &&
          movie.director.includes(director._id) ? 'checked' : '' %> />
          <label for="director-<%= director._id %>"><%= director.name %></label>
        </div>
        <% }); %>
      </div>
    </div>
    <div>
      <label for="password">Enter password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit"><%= movie ? 'Update' : 'Create' %></button>
    </div>
  </form>
</div>
