<h1>List of Movies</h1>
<% if (movies.length) { %>
<ul>
  <% movies.forEach(movie => { %>
  <li>
    <h2><a href="<%=movie.url%>"><%= movie.title %></a></h2>
    <p>Summary: <%= movie.summary %></p>
    <p>Release Year: <%= movie.release_year %></p>
    <p>Director: <%= movie.director %></p>
    <img src="<%= movie.poster %>" alt="<%= movie.title %>" />
    <h3>Cast:</h3>
    <p>Not yet implemented</p>
  </li>
  <% }); %> <% } else { %>
  <p>There are no movies registered</p>
  <% } %>
</ul>
