<h1>List of Movies</h1>
<% if (movies.length) { %>
<ul>
  <% movies.forEach((movie, index) => { %>
  <li>
    <h2><a href="<%=movie.url%>"><%= movie.title %></a></h2>
    <p>Summary: <%= movie.summary %></p>
    <p>Release Year: <%= movie.release_year %></p>
    <p>Director: <%= movie.director %></p>
    <img src="<%= movie.poster %>" alt="<%= movie.title %>" />
    <ul>
      <% if (cast) {%>
      <h3>Featuring:</h3>
      <% if (cast[index]) { %> <% cast[index].forEach(actor => { %>
      <li><%= actor.name %></li>
      <% }); %> <% } else { %>
      <p>No cast registered</p>
      <% } %> <% } %>
    </ul>
  </li>
  <% }); %> <% } else { %>
  <p>There are no movies registered</p>
  <% } %>
</ul>
