<h1><%=movie.title%></h1>
<% if (movie.summary) { %>
<p>Summary: <%= movie.summary %></p>
<% } %> <% if (movie.release_year) { %>
<p>Release Year: <%= movie.release_year %></p>
<% } %> <% if (movie.director) { %>
<p>Director: <%= movie.director %></p>
<% } %>
<img src="<%= movie.poster %>" alt="<%= movie.title %>" />
<h3>Cast:</h3>
<% if (cast.length > 0) { %> <% cast.forEach(actor => { %>
<p><%= actor.name %></p>
<% }); %> <% } else { %>
<p>No cast to display</p>
<% } %>
