<div class="list-page">
  <h1>List of Directors</h1>
  <% if (directors.length) { %>
  <ul class="item-list">
    <% directors.forEach((director, index) => { %>
    <li class="item-card">
      <h2><a href="<%=director.url%>"><%= director.name %></a></h2>
      <% if (director.age) { %>
      <p>Age: <%= director.age %></p>
      <% } %> <% if (director.nationality) { %>
      <p>Nationality: <%= director.nationality %></p>
      <% } %> <% if (director.picture) { %>
      <a href="<%=director.url%>"
        ><img
          src="<%= director.picture %>"
          alt="<%= director.name %>"
          class="resized-image"
      /></a>
      <% } %>
      <ul>
        <% if (movies.length) {%> <% if (movies[index].length) { %>
        <h3>Directed:</h3>
        <% movies[index].forEach(movie => { %>
        <li><a href="<%=movie.url%>"><%= movie.title %></a></li>
        <% }); %> <% } else { %>
        <h3>No movies registered</h3>
        <% } %> <% } %>
      </ul>
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <p>There are no directors registered</p>
  <% } %>
</div>
