<div class="item-detail">
  <h1><%=director.name%></h1>
  <% if (director.age) { %>
  <p class="age">Age: <%= director.age %></p>
  <% } %> <% if (director.nationality) { %>
  <p>Nationality: <%= director.nationality %></p>
  <% } %> <% if (director.picture) { %>
  <img
    src="<%= director.picture %>"
    alt="<%= director.name %>"
    class="resized-image-detail"
  />
  <% } %>
  <div class="movies-featuring">
    <h3>Movies:</h3>
    <% if (director.movies && director.movies.length) { %> <%
    director.movies.forEach(movie => { %>
    <p class="detail-info"><a href="<%=movie.url%>"><%= movie.title %></a></p>
    <% }); %> <% } else { %>
    <p>No movies to display</p>
    <% } %>
  </div>
  <div class="card-buttons">
    <a href="/directors/edit/<%= director.id %>"><button>Edit</button></a>
    <button type="button" onclick="showPasswordField()">Delete</button>
    <form
      id="deleteForm"
      action="/directors/<%= director.id %>?_method=DELETE"
      method="post"
      style="display: none; margin-top: 10px"
      onsubmit="handleDelete(event);"
    >
      <label for="password">Enter password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Confirm Delete</button>
    </form>
  </div>
</div>
