<div class="item-detail">
  <h1><%= genre.name %></h1>
  <h3>Movies in this genre:</h3>
  <div class="movies-in-genre">
    <% if (movies.length > 0) { %> <% movies.forEach(movie => { %>
    <p class="detail-info"><a href="<%=movie.url%>"><%= movie.title %></a></p>
    <% }); %> <% } else { %>
    <p>No movies to display</p>
    <% } %>
  </div>
  <div class="card-buttons">
    <a href="/genres/edit/<%= genre.id %>"><button>Edit</button></a>
    <button type="button" onclick="showPasswordField()">Delete</button>
    <form
      id="deleteForm"
      action="/genres/<%= genre.id %>?_method=DELETE"
      method="post"
      style="display: none; margin-top: 10px"
      onsubmit="handleFormSubmission(event, 'deleteForm');"
    >
      <label for="password">Enter password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Confirm Delete</button>
    </form>
  </div>
</div>
